# Ignore everything
**

# Allow files and directories
!/src/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.db
**/*.user
**/[Bb]in/
**/[Oo]bj/
**/.DS_Store
**/Properties