@model Apae.Models.Account.ForgotPasswordModel

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Deu branco?</h1>
    <p class="mb-4">Me diz o seu endereço de email e enviaremos um link pra redefinir sua senha!</p>
</div>
<form asp-action="ForgotPassword" class="user">

    <div class="form-group">
        <input asp-for="Email" class="form-control form-control-user" placeholder="Email" />
    </div>

    <div class="form-group">
        <input type="submit" value="Redefinir Senha" class="btn btn-primary btn-user btn-block" />
    </div>

</form>

<hr>
<div class="text-center">
    <a class="small" asp-action="Login">Lembrou? Faz o login!</a>
</div>
