@model string

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Email enviado!</h1>
    <p class="mb-4">
        Enviamos um email com instrucoes para redefinir sua senha.
    </p>
    <p class="mb-4">
        <strong>@Model</strong>
    </p>
    <p class="mb-4">
        Deve chegar logo logo! Verifique sua caixa de spam - as vezes os computadores fazem coisas estranhas.
    </p>
</div>

<hr>
<div class="text-center">
    Ainda nao chegou? Clique <a asp-action="ForgotPassword">aqui</a> para re-enviar
</div>