@model Apae.Models.Account.ResetPasswordModel

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Redefinir Senha</h1>
    @*<p class="mb-4">Ok, vamos redefinir a sua senha!</p>*@
</div>
<form asp-action="ResetPassword" class="user">

    <input type="hidden" asp-for="Token" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <input asp-for="Email" class="form-control form-control-user" placeholder="Email" readonly="readonly"/>
    </div>

    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control form-control-user" placeholder="Sua nova senha" />
    </div>

    <div class="form-group">
        <input type="submit" value="Redefinir Senha" class="btn btn-primary btn-user btn-block" />
    </div>

</form>

<hr>
<div class="text-center">
    <a class="small" asp-action="Login">Fazer o login</a>
</div>
